DEBUG=False
SECRET_KEY=generate-a-new-random-key-here
ALLOWED_HOSTS=api.velab.space,92.113.144.6
FORCE_SCRIPT_NAME=/schedule
CORS_ALLOWED_ORIGINS=https://schedule.velab.space
CSRF_TRUSTED_ORIGINS=https://api.velab.space